@model LojaGames.Models.Funcionario
@{
    ViewBag.Title = "CadFuncionario";
}

<h2>Funcionário cadastrado com sucesso!</h2>
<br/>
<p>@Html.ActionLink("Voltar", "Funcionario")</p>
<p>@Html.ActionLink("Visualizar Funcionários", "ListarFuncionario")</p>

