@model LojaGames.Models.Jogo
@{
    ViewBag.Title = "CadJogo";
}

<h2>Jogo cadastrado com sucesso!</h2>
<br />
<p>@Html.ActionLink("Voltar", "Jogo")</p>
<p>@Html.ActionLink("Visualizar Jogos", "ListarJogo")</p>
